body{
	background: lightblue;
	text-align: center;
	
}
h1	{
	text-align: center;
	color: purple;
	font-size: 50px;
	text-decoration: underline;
}
.jobs{
	color: Maroon;
	text-decoration: underline;

}
ul{
	list-style-type: none;
	color:lightgrey;
	background:blue;
	border: double 14px grey;
	padding: 10px 10px 10px 10px;
	margin: 10px 400px;


}

